/* styles.css */
form {
    width: 350px;
    margin: 100px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    display:flex;
    flex-direction: row;
    color: black;
}

span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: red;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}